<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Register</title>
		<link rel="stylesheet" href="../css/home.css" />
		<link rel="stylesheet" href="../css/login.css" />
		<link rel="stylesheet" href="../css/register.css" />
	</head>
	<body>
		<nav>
			<div class="nav-container">
				<a href="../../index.html"
					><img src="../../assets/icon.png" alt="medicare logo"
				/></a>
				<span id="hamburger">&#9776;</span>
			</div>
			<ul class="nav-item-container hidden">
				<li class="nav-item"><a href="../../index.html">Home</a></li>
				<li class="nav-item" id="products">
					<a>Products</a>
					<ul class="nav-products hidden">
						<li class="nav-products-hover" id="healthcare">
							<a href="./component/html/healthcare.html"
								>Healthcare</a
							>
						</li>
						<li
							class="nav-products-hover disabled"
							aria-disabled="true"
						>
							<a href="#">Cosmetic</a>
						</li>
						<li
							class="nav-products-hover disabled"
							aria-disabled="true"
						>
							<a href="#">Misc.</a>
						</li>
					</ul>
				</li>
				<li class="nav-item"><a href="./about.html">About Us</a></li>
				<li class="nav-item active"><a href="#">Register</a></li>
				<li class="nav-item"><a href="./login.html">Login</a></li>
			</ul>
		</nav>
		<div id="center">
			<div class="login-form">
				<h1>Register</h1>
				<form action="./healthcare.html">
					<div class="text-field">
						<label for="regisname">Full Name</label>
						<input type="text" id="regisname" required"/><br />
					</div>
					<div class="text-field">
						<label for="regisemail">Email</label>
						<input type="email" id="regisemail" required /><br />
					</div>
					<div class="radio-field">
						<p>Gender</p>
						<div class="gender">
							<input
								type="radio"
								name="gender"
								id="genmale"
								required
							/>
							<label for="genmale">Male</label>
						</div>
						<div class="gender">
							<input
								type="radio"
								name="gender"
								id="genfemale"
								required
							/>
							<label for="genfemale">Female</label>
						</div>
					</div>
					<div class="select-field">
						<label for="regiscity">City<br /><br /></label>
						<select id="regiscity" name="city" required>
							<option>Select city...</option>
							<option>Jakarta</option>
							<option>Tangerang</option>
							<option>Bekasi</option>
						</select>
					</div>
					<div class="text-field">
						<label for="regispassword"
							>Password (minimum 8 characters)</label
						>
						<input
							type="password"
							id="regispassword"
							minlength="8"
							required
						/><br />
					</div>
					<div class="text-field">
						<label for="regispassword2">Confirm Password</label>
						<input
							type="password"
							id="regispassword2"
							minlength="8"
							required
						/><br />
					</div>
					<input type="submit" value="Register" id="regisbutton" />
				</form>
			</div>
		</div>
		<footer>
			<div class="social-icons">
				<a href="https://www.twitter.com/" target="_blank"
					><img
						src="https://img.icons8.com/ios-glyphs/30/000000/twitter--v1.png"
				/></a>
				<a href="https://www.facebook.com/" target="_blank"
					><img
						src="https://img.icons8.com/material-outlined/30/000000/facebook-f.png"
				/></a>
				<a href="https://www.instagram.com/" target="_blank"
					><img
						src="https://img.icons8.com/fluency-systems-regular/30/000000/instagram-new--v1.png"
				/></a>
			</div>
			<p>Copyright ©2022 Andrew Garcia. All Rights Reserved</p>
		</footer>
		<script src="../js/home.js"></script>
	</body>
</html>
