body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
}

#center {
	display: flex;
	width: 100vw;
	height: 90vh;
	justify-content: center;
	align-items: center;
}

.keyboard {
	height: calc(100% + 500px);
}

.login-form {
  padding: 1em;
	text-align: center;
	font-size: 0.8rem;
	z-index: 0;
	width: calc(0.2vw * 400);
	box-shadow: 0 2px 4px 2px gray;
}

.login-form h1 {
	text-align: center;
	font-weight: 400;
}

.text-field {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	border-bottom: 2px solid gray;
	font-size: 1em;
  height: 3em;
  margin: 3em 0;
}

.text-field input {
	width: 100%;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;
}

.text-field label {
	color: black;
}

input[type='submit'] {
	color: #38abab;
	background-color: white;
	box-shadow: 0 0 1px 1px gainsboro;
	border-radius: 2.5px;
	width: 40%;
	padding: 0.5em;
	margin: 2em;
	border: none;
}

.login-form p {
	font-size: 0.65rem;
}

.login-form a {
	color: #38abab;
	text-decoration: underline;
}

footer {
	position: relative;
	top: calc(0.7 * 100vh);
	margin: 3em;
}

@media only screen and (min-width: 600px) {
	.login-form {
		width: 30vw;
		padding: 3em;
	}

	.text-field {
		height: 3em;
	}
}
