.text-field {
	margin: 1em;
	height: 3em;
}

.gender {
	display: inline;
	margin-right: 1em;
}
.gender > label {
	vertical-align: middle;
}

.radio-field {
	text-align: start;
	margin: 20px 1.3em;
}

.radio-field p {
	font-size: 1em;
}

.select-field {
	text-align: start;
	margin: 20px 1.3em;
}

.select-field select {
	width: 100%;
	height: 2.5rem;
}

#regisbutton {
	background-color: #38abab;
	color: white;
	margin-block: 1em;
}

input[type='radio'] {
	appearance: none;
	background-color: white;
	color: #38abab;
	width: 1em;
	height: 1em;
	border: 0.1em solid #38abab;
	border-radius: 50%;
	vertical-align: middle;
}

input[type='radio']:checked {
	appearance: auto;
	border: none;
	outline: none;
}

@media only screen and (min-width: 1000px) {
	.login-form {
		width: 30vw;
		padding: 1em;
		padding-inline: 3em;
	}
}
